<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Braneshop - $title$</title>
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/print.css" />
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|PT+Mono|Lato|Source+Serif+Pro|Trade+Winds" rel="stylesheet">
  <script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
  <!-- Header -->
  <div id="header">
    <div class="parts">
      <h1><a href="/"><img src="/images/braneshop-blue.png" width="400" title="Braneshop" alt="Braneshop" /></a>
      </h1>
      <h2>Deep Learning Workshop!</h2>
    </div>
    <small>Expand your knowledge manifold!</small>
  </div>


  <!-- Content -->
  <div id="content">
    $body$
  </div>


  <!-- Footer -->
  <div id="footer">
    <div id="acknowledgement">
      <img src="/images/atsi.webp" />
      <p> Braneshop is located on the traditional lands of the Wurundjeri people
      of the Kulin nation. We acknowledge that sovereignty was never ceded and
      pay our respects to elders past, present and emerging.
      </p>
    </div>
  </div>

</body>
</html>
