<div class="bio">
  <div class="photo">
      <img title="Noon van der Silk"
          alt="Noon van der Silk"
          id="noon-image"
          src="/images/noon.jpg"
          onclick="startVideo('noon');" /> 

      <video class="profile-video" onended="showImage('noon');"
        id="noon-video" width="200" height="200">
        <source src="/images/noon.mp4" type="video/mp4">
      </video>

      <center>
        <a href="mailto:noon@braneshop.com.au" rel="noopener">Email</a> |
        <a href="https://www.linkedin.com/in/noonsilk/" rel="noopener">LinkedIn</a> |
        <a href="https://calendly.com/noonvandersilk/" rel="noopener">Calendly</a> |
        <a href="https://github.com/silky" rel="noopener">GitHub</a>
      </center>
  </div>
  <div class="text">
    <p> <b>Noon van der Silk </b> is the founder of Braneshop 
      and lead trainer. </p>
    <p> Noon has 19+ years experience in various forms of software
    engineering, application development, and the design and
    implementation of machine learning + AI systems.  Within AI he has a
    special interest in the field of computer vision and interactive art.
    </p>
    <p> Noon has a research background, obtaining a Masters in Pure
      Mathematics, with a focus on quantum computing.
    </p>
    <p> Noon is particularly passionate about empowering people
      through skill development.
    </p>
  </div>
</div>

