<div class="section">
  <div class="info">
    Posted on $date$
    $if(author)$
      by $author$
    $endif$
		| <a title="Blog: Recent posts" href="/blog.html">Back to recent posts</a>
  </div>

  <h4 class="blog-title">$title$</h4>

  $if(tags)$
    <span class="tags">Tags: $tags$</span>
  $endif$

  $if(vimeo)$
  <p>Video summary:</p>
  <center>
    <iframe src="$vimeo$" width="800" height="400" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <p>Watch on Vimeo - <a href="$vimeo$">$vimeoTitle$</a></p>
  </center>
  $endif$

  $if(imageDescription)$
    <center> <p> <img src="$image$" width="100%" /> 
    <br /><small>$imageDescription$</small></p> </center>
  $endif$

  <div class="info">
    $if(code)$
			<center><p> The code used for this blog-post is <a href="$code$">here</a>. </p></center>
    $endif$
  </div>

  $body$
</div>
