<ul class="blog-list normal">
  $for(posts)$
    $if(draft)$
    $else$
    <li> 
        $if(width)$
          <div class="showreel-card" style="width: $width$;">
        $else$
          <div class="showreel-card">
        $endif$
        <h5> <a href="$url$" rel="noopener">$title$</a> &mdash; $date$ </h5>

        $if(tags)$
          <span class="tags">Tags: $tags$
            | <small><a href="$link$">Paper</a></small>
          </span>
        $endif$

        <div class="content">
          $if(imageWidth)$
          <center><a href="$image$"><img src="$image$" width="$imageWidth$" /></a></center>
          $else$
            <center><a href="$image$"><img src="$image$" /></a></center>
          $endif$

          $body$


        </div>
      </li>
      $endif$
  $endfor$
</ul>

