<div class="features">
  <div class="feature">
  <img src="/images/week-by-week.png" alt="Content release week-by-week." />
  <p>Content will be released to you week-by-week.</p>
  </div>
  <div class="feature">
  <img src="/images/your-pace.png" alt="Set at your own pace." />
  <p>Read the content and exercises at your own pace.
  </p>
  </div>
  <div class="feature">
  <img src="/images/1-on-1.png" alt="1-on-1 chats to support learning"/>
  <p>One-on-one video-chat sessions with an instructor each week.
  </p>
  </div>
  <div class="feature">
  <img src="/images/exercises.png" alt="Complete exercises and homework to build knowledge."/>
  <p>Complete exercises and homework to consolidate your knowledge.
  </p>
  </div>
</div>
