<script type="text/javascript" src="/js/profiles.js"></script>

<!-- Noon -->

<div class="bio">
  <div class="photo">
      <img title="Noon van der Silk"
          alt="Noon van der Silk"
          id="noon-image"
          src="/images/noon.jpg"
          onclick="startVideo('noon');" /> 

      <video class="profile-video" onended="showImage('noon');"
        id="noon-video" width="200" height="200">
        <source src="/images/noon.mp4" type="video/mp4">
      </video>

      <center>
        <a href="https://github.com/silky" rel="noopener">GitHub</a> |
        <a href="https://www.linkedin.com/in/noonsilk/" rel="noopener">LinkedIn</a> |
        <a href="https://silky.github.io/" rel="noopener">Blog</a> |
        <a href="https://calendly.com/noonvandersilk/ai-office-hours" rel="noopener">Calendly</a>
      </center>
  </div>
  <div class="text">
    <p> <b>Noon van der Silk </b> is the founder of Braneshop 
      and lead trainer. </p>
    <p> Noon has 18+ years experience in various forms of software
    engineering, application development, and the design and
    implementation of machine learning + AI systems.  Within AI he has a
    special interest in the field of computer vision and interactive art.
    </p>
    <p> Noon has a research background, obtaining a Masters in Pure
      Mathematics, with a focus on quantum computing.
    </p>
    <p> Noon is particularly passionate about empowering people
      through skill development.
    </p>
  </div>
</div>

<!-- Ruth -->
<div class="bio">
  <div class="photo">
      <img title="Dr Ruth Pearson"
          alt="Dr Ruth Pearson"
          id="ruth-image"
          src="/images/ruth.jpg?new"
          onclick="startVideo('ruth');"
          /> 

      <video class="profile-video" onended="showImage('ruth');"
        id="ruth-video" width="200" height="208">
        <source src="/images/ruth.mp4?new" type="video/mp4">
      </video>

      <center>
        <a href="https://www.linkedin.com/in/ruth-pearson-35560488/" rel="noopener">LinkedIn</a>
      </center>
  </div>
  <div class="text">
    <p> <b>Dr Ruth Pearson</b> is the co-founder of Braneshop, as
      well as a researcher, trainer and mentor.</p>
    <p>Ruth has a cosmic-microwave-background in physics, with a PhD in
    cosmology, along with academic experience in Europe, U.S.A. and
    Australia. She loves maths, science and cats and wants to use AI to
    aid vet medicine.
    </p>
    <p>As a teacher, Ruth is particularly interested in helping people to
    gain a deep, complete, and enjoyable understanding of concepts.</p>
  </div>
</div>
