body {
  margin:           0px;
  background:       black;
  background-image: url(/images/space.svg);
}

#content {
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  padding:          20px;
  background-image: url(/images/simple-bg.svg);
  background-size:  cover;
}

p span { background: royalblue; color: white; }

#footer {
  border-top:       solid 10px royalblue;
  display:          flex;
  min-height:       300px;
  padding:          20px;
  background-image: url(/images/space.svg);
  background-size:  cover;
  flex-direction:   column;
  align-items:      center;
}

#acknowledgement p, #newsletter h4, #newsletter p {
  background: white;
}

#acknowledgement, #newsletter {
  margin-top:       20px;
  margin-bottom:    20px;
  display:          flex;
  align-items:      center;
  flex-direction:   column;
  padding:          20px;
  max-width:        800px;
  background:       white;
  background-image: url(/images/white.svg);
  background-size:  cover;
}

#newsletter {
  background-image: url(/images/white-2.svg);
  background-size:  cover;
}

#header {
  display:          flex;
  align-items:      center;
  flex-direction:   column;
  justify-content:  center;
  font-size:        2em;
  font-family:      "Fira Mono";
  text-align:       center;
  padding:          10px;
  background-image: url(/images/header-bg.svg);
  background-size:  cover;
  height:           300px;
  border-bottom:    solid 10px mediumslateblue;
}

#header h1 a, #header small, ul li a {
  color: white;
}

video.profile-video {
  display: none;
}

#header img {
  padding-bottom: 5px;
}

#header h1 {
  margin: 0;
}

#header small {
  font-size:   0.8em;
  font-weight: normal;
  font-family: "PT Mono";
}

@media print { 
	#header { display: none; }
	#footer { display: none; }
	div.section { padding: 90px !important; } 
}

div.section {
  display:        flex;
  flex-direction: column;
  margin:         30px;
  padding:        30px;
  text-align:     justify;
  max-width:      900px;
  background:     lavenderblush;
}

div.section h3 {
  margin:      0;
  padding:     20px;
  font-weight: normal;
  font-size:   2em;
  font-family: "PT Mono";
}

table.details {
  margin-left: 20px;
  margin-top:  20px;
}

table.details td.item {
  width:       140px;
  background:  #eaeaea;
  font-style:  italic;
}

table.details td.value, table.details td.item {
  padding:    4px;
}

td.value ul {
  margin: 0;
}

td.value ul li {
  font-size: 1em;
  padding:   4px;
}

td.value ul li a {
  color: black;
}

p, li {
	line-height: 1.5em;
}

pre {
	font-size: 1.2em;
  margin-left: 30px;
}

h4.blog-title {
	font-size:     2em;
	border-bottom: solid 2px peachpuff;
	border-top:    solid 2px peachpuff;
	background:    white;
	padding:       4px;
}

h4 {
  font-family: "Source Serif Pro";
  font-size:   1.5em;
}

div.concepts {
  display:        flex;
  flex-direction: row;
}

div.breakdown {
  display:        flex;
  flex-direction: column;
}

div.day {
}

div.concepts ul li {
  font-size: 1.1em;
  padding:   2px;
}

h5 {
  font-family: "Source Serif Pro";
  font-size:   1.3em;
  margin:      0;
  padding:     0;
}


a { 
  text-decoration: underline;
  color:           black;
}


ul.menu li {
  color: white;
}

ul.menu li a {
  padding:   5px;
  font-size: 1.2em;
}

div.tickets {
  padding: 5px;
}

a.buy-now {
  background:    peachpuff;
  color:         black;
  padding:       5px;
  border-radius: 5px;
  line-height:   1.5em;
}

h1 a:hover { 
  background: none;
}

a:hover { 
  background:  royalblue;
  color:       white !important;
  font-weight: bold;
}

#header ul, ul.summary { 
  display:         flex;
  justify-content: center;
  list-style:      none;
  flex-direction:  row;
  flex-wrap:       wrap;
}

ul.summary {
  margin: 0;
}

ul.summary li {
  padding-left:  5px;
  padding-right: 5px;
  font-size:     1.0em;
  font-family:   "PT Mono";
}

#header ul { 
  font-size: 0.5em;
}

#header ul li {
  font-family: "PT Mono";
}

ul.normal li {
  font-size: 1.2em;
  padding:   2px;
}

ul.normal li a {
  color: black;
}

p {
  padding-left:  20px;
  padding-right: 20px;
}

p, li, blockquote, label, input, td {
  font-family: "Lato";
  font-size:   1.2em;
}

ul.normal li ul.normal li {
  font-size: 1em;
}

#values-list, #testimonials-list {
  display:         flex;
  justify-content: center;
  flex-wrap:       wrap;
}

p.by {
  margin-top:      0;
  display:         flex;
  justify-content: flex-end;
}

div.testimonial {
  display:        flex;
  background:     lavender;
  border-radius:  10px;
  max-width:      400px;
  margin:         20px;
  flex-direction: column;
}

div.value {
  display:        flex;
  background:     lavender;
  border-radius:  10px;
  max-width:      400px;
  margin:         20px;
  flex-direction: column;
  border-bottom:  solid 4px black;
  border-right:   solid 4px black;
}

#footer h4 {
  margin: 0
  margin-top: 5px;
}

div.value h4 {
  text-align: center;
  background: lavender;
  margin:     0;
  margin-top: 20px;
  padding:    5px;
}

::selection {
  background: hotpink;
  color:      white;
}

::-moz-selection {
  background: hotpink;
  color:      white;
}

span.important {
  font-size:     0.7em;
  font-weight:   normal;
  padding:       8px;
  border-radius: 5px;
  background:    orangered;
  font-family:   "PT Mono";
  color:         white;
}

.section center p {
  font-style: italic;
}

blockquote {
  font-size:     1.2em;
  background:    #eaeaea;
  padding:       5px;
  padding-left:  20px;
  padding-right: 20px;
  font-family:   "Source Serif Pro";
  line-height:   2em;
  border-top:    solid 3px white;
  border-left:   solid 3px white;
}

ul.menu li {
  font-size: 1.2em;
}


#mc_embed_signup_scroll {
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-evenly;
}

#mc_embed_signup_scroll div {
  display: flex;
}

#newsletter h4 {
  margin:  0;
  padding: 0;
}

#newsletter label, #newsletter input {
  font-size: 1.1em;
  padding:   5px;
}

input {
  padding: 4px;
}

div.bio-list {
  display:        flex;
  align-items:    flex-start;
  flex-direction: column;
}

div.bio {
  display:        flex;
  align-items:    flex-start;
  flex-direction: row;
}

div.photo {
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;
}

div.bio center {
  font-size:  1.1em;
  margin-top: 10px;
}

div.bio div.text {
  min-width: 400px;
}

div.bio img, div.bio video {
  margin-top:    20px;
  margin-left:   20px;
  margin-right:  20px;
  cursor:        pointer;
}

div.important {
  background: #eaeaea;
  border:     solid 2px peachpuff;
}
