div.section-list {
  display:        flex;
  flex-direction: column;
}

div.sections {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
}

div.section-list h3 {
  font-family: "Fira Code";
  font-family: "Lato";
  font-family: "Source Serif Pro";
  font-size:   2em;
  background:  lavender;
  padding:     20px;
}

#details {
  width: 500px;
  margin-left: 0;
}

#big {
  width: 800px;
  margin-right: 0;
}

#photos-list img {
  height: 140px;
}

div.section {
  margin-top:     5px;
  margin-bottom:  5px;
  padding-bottom: 5px;
}

div.section-list div.sections div.section h3 {
  font-family:   "Fira Code";
  border-radius: 0;
}

div.testimonial {
  padding: 0;
  max-width: 500px;
  margin: 10px;
}

#footer {
  padding: 0;
}

p.t {
  font-size: 0.9em;
}

#header h2 {
  margin-left: 50px;
  font-size:   3em;
  font-family: "Trade Winds";
  font-weight: normal;
  color:       black;
  text-shadow: 2px 0 0 peachpuff, -2px 0 0 peachpuff, 0 2px 0 peachpuff, 0 -2px 0 peachpuff, 1px 1px peachpuff, -1px -1px 0 peachpuff, 1px -1px 0 peachpuff, -1px 1px 0 peachpuff;
}

#header {
  height:         100%;
  padding-left:   100px;
  padding-right:  100px;
}


#header .parts {
  display: flex;
  flex-direction: row;
}

#header small {
  font-size:     1.1em;
  padding:       0;
  margin:        0;
  margin-bottom: 20px;
  text-shadow:   2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

span.call-out {
  background:    peachpuff;
  border:        solid 10px peachpuff;
  border-radius: 25px;
}

